<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data</title>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div>
        <h2>Welcome</h2>

        <h3 id="nameIdSelector"></h3>

        <br>

        <button onclick="location.href='/logout'">Logout</button>
    </div>

    <script src="../views/data.js"></script>
</body>
</html>