<div>
    <div>
        <h1>Sign up error</h1>

        <p>Username already exists. Try another one.</p>

        <button class="btn btn-warning my-5" onclick="location.href='/'">Go back</button>
    </div>
</div>