<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <section>
        <div>
            <h2>Sign Up</h2>

            <form action="/register" method="post">
                <div>
                    <input class="" type="text" name="name" id="" placeholder="Name" autocomplete="off" required>
                </div>

                <div>
                    <input class="" type="email" name="email" id="" placeholder="Email" autocomplete="off" required>
                </div>

                <div>
                    <input class="" type="password" name="password" id="" placeholder="Password" autocomplete="off" required>
                <div>

                <div>
                    <input class="" type="submit" value="Register">
                </div>
            </form>
            
            <div>
                <p class="">Already have an account ?</p>
                <button class="" onclick="location.href = '/login'">
                    Login
                </button>
            </div>
        </div>
    </section>
</body>

</html>